@import url(/reset.css);

@font-face {
  font-family: xeicon;
  src: url(./font/xeicon.woff2);
}

img{
  vertical-align: top;
}

.flex {
  display: flex;
}

.topmenu {
  display: flex;
}

section {
  background-position: center;
  background-size: cover;
  height: 100vh;
  position: relative;
}

.vscroll {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 5%;
  z-index: 10;
  text-align: center;
}

.vscroll span {
  display: block;
  color: #fff;
  font-size: 16px;
  margin-bottom: 1rem;
}

.vscroll img {
  display: inline-block;
  animation: scrollAni 1s linear infinite alternate;
}

@keyframes scrollAni {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(10px);
  }
}

/* -------------------------------------------------------- */

header {
  height: 90px;
  width: 100%;
  border-bottom: 1px solid #fff;
  display: flex;
  position: fixed;
  z-index: 99;
  font-size: 2.2rem;
}

header .inner {
  display: flex;
  width: 95.8333333%;
  height: 90px;
  margin: auto;
  align-items: center;
  justify-content: space-between;
}
nav {
  display: flex;
}

/* vscroll 설정하다가 위치가 변경됨
강제로 위치 설정 */
nav ul li a {
  position: relative;
  top: 20%;
}
.sub {
  width: 200px;
  font-size: 16px;
  position: absolute;
  text-align: center;
  background: #eb2a4a;
  color: #fff !important;
  border-radius: 10px;
  padding: 15px;
  left: 50%;
  top: 70px;
  transform: translateX(-50%);
  display: none;
}

/* --------------------------------------------------- */

nav ul a {
  display: block;
  color: #333;
}
h1 img.hover {
  display: none;
}

li.mainmenu {
  height: 90px;
  position: relative;
}

/* 기존의 hover는 부모 아래 자식한테만
반응한다. 근데 자식에 반응했을 때 부모가 바뀌게
하려면 has를 써야한다. has는 '가지다'라는 뜻이며,
양식은 
부모:has(자식){속성값}
여기서 자식에 hover/after/before등
여러 속성을 줄 수있기때문에 유용하다.
해석하는법은 거꾸로한다.
'자식에 반응하면 부모가 속성값에 따라 변한다.' */
/* header:has(nav:hover) {
  background-color: #fff;  
} */

.sub li {
  line-height: 30px;
}

li.mainmenu:hover .sub {
  display: block;
}

html {
  font-size: 10px;
}
.gnb {
  display: flex;
  width: 94px;
  color: #fff;
}

.baricon {
  margin-top: 30px;
}

.baricon::before {
  display: block;
  font-family: xeicon;
  content: "\e91c";
  color: #fff;
}

#gnb1 > ul > li > a {
  font-size: 2.2rem;
  font-weight: 600;
  padding: 1.25rem 2.5rem;
  color: #fff;
  transition: 0.3s;
}

/* ------------------sect1------------------------------ */

section {
  height: 100vh;
}

#sect1 p {
  font-family: "Noto Serif KR", serif;
  font-size: 40px;
  color: #fff;
  position: absolute;
}
.mySwiper1 .swiper-slide:nth-child(1) {
  /* background: url(주소값) + 반복여부(no-repeat) + 포지션(center) + / + 사이즈  */
  background: url(./images/v_img01_sdown.jpg) no-repeat center / cover;
  /* 한개씩 따로 적게되면 불편하니까
  위에 한줄로 표시한다.
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
}
.mySwiper1 .swiper-slide:nth-child(2) {
  background: url(./images/v_img02.jpg) no-repeat center / cover;
}
.mySwiper1 .swiper-slide:nth-child(3) {
  background: url(./images/v_img03.jpg) no-repeat center / cover;
}
.mySwiper1 .swiper-slide:nth-child(4) {
  background: url(./images/v_img04.jpg) no-repeat center / cover;
}
.mySwiper1 .swiper-slide:nth-child(5) {
  background: url(./images/v_img05.jpg) no-repeat center / cover;
}
.mySwiper1 .swiper-slide:nth-child(6) {
  background: url(./images/v_img06.jpg) no-repeat center / cover;
}
.mySwiper1 .swiper-slide:nth-child(7) {
  background: url(./images/v_img07.jpg) no-repeat center / cover;
}
.mySwiper1 .swiper-slide:nth-child(1) b {
  display: block;
  font-size: 30px;
}

.mySwiper1 .swiper-slide:nth-child(1) p,
.mySwiper1 .swiper-slide:nth-child(5) p,
.mySwiper1 .swiper-slide:nth-child(6) p,
.mySwiper1 .swiper-slide:nth-child(7) p {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.mySwiper1 .swiper-slide:nth-child(2) p {
  left: 10%;
  top: 60%;
  line-height: 70px;
}
.mySwiper1 .swiper-slide:nth-child(3) p {
  left: 10%;
  top: 30%;
}

.mySwiper1 .swiper-slide:nth-child(4) p {
  left: 10%;
  top: 50%;
  line-height: 70px;
}

.mySwiper1 .swiper-slide:nth-child(4) b {
  font-size: 60px;
  font-weight: bold;
}

/* sect2--------------------------------------------- */

a.watch::after {
  content: "\e907";
  font-family: "xeicon";
  position: relative;
  display: inline-block;
}

#sect2 {
  background-image: url(./images/section01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.headerGroup {
  position: relative;
  top: 224px;
  text-align: center;
  color: #fff;
}

.headerGroup h2 {
  display: block;
  font-size: 5.5rem;
  font-weight: 600;
  line-height: 7.7rem;
  letter-spacing: -2.52px;
  font-family: "NotoSerif", Serif;
  word-break: keep-all;
}
.headerGroup p {
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 3.8rem;
  letter-spacing: -0.75px;
  font-family: "NotoSerif", Serif;
  word-break: keep-all;
  margin-top: 26px;
  transform: skew(-0.1deg); /*작은 글자가 깨져보이는것을 보완 해주는것*/
}

a.watch {
  display: inline-block;
  padding: 2.3rem 6.2rem;
  text-align: center;
  font-size: 2.3rem;
  font-weight: 600;
  line-height: 2.2rem;
  transition: all 0.3s;
  border-radius: 3.5rem;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  margin-top: 26px;
}

.watch.on{
  background: #000;  
  visibility: visible;
}

.headerGroup {
  text-align: center;
}

.watchlist {
  width: 1020px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  gap: 1px;
}

.watchlist li {
  height: 220px;
  cursor: pointer;
  flex: 1;
  background-color: rgba(0, 0, 0, 0.2);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.watchlist li span {
  display: block;
  width: 100%;
  position: absolute;
  height: 4px;
  left: 0;
  top: 0;
  background: #eb2a4a;
  transition: 0.3s;
}

.watchlist li:nth-child(1) span {
  background: #18a689;
}
.watchlist li:nth-child(2) span {
  background: #1b5bbe;
}
.watchlist li:nth-child(3) span {
  background: #d93f69;
}

.watchlist li:hover span {
  height: 100%;
  z-index: 5;
}

.summary {
  position: relative;
  z-index: 10;
  text-align: center;
  line-height: 60px;
}

.summary P {
  color: #fff;

  font-size: 23px;
  font-weight: 600;
}

/* ---------------sect3-------------------------------------- */

section .inner {
  width: 1400px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 224px;
}

#sect3 {
  background-image: url(./images/section02.jpg);
}
.col1 {
  width: 700px;
}
.col1 h2 {
  display: block;
  font-size: 50px;
  font-weight: 700;
  color: #fff;
  line-height: 7.7rem;
  font-family: "NotoSerif", Serif;
}

.col1 p {
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  line-height: 30px;
  font-family: "NotoSerif", Serif;
  margin: 26px 0 50px 0;
}

.col1 li {
  width: 300px;
  padding: 20px 40px 20px 0;
  display: block;
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  opacity: 0.7;
  border-bottom: 1px solid rgba(255, 255, 255, 0.45);
}

.col1 img {
  padding-right: 20px;
}

.col1 span{
  cursor: pointer;
}

.col2 {
  width: 510px;
  height: 520px;
  overflow: hidden;
}

.mySwiper2 figure {
  position: absolute;
  left: -50px;
  top: -90px;
}

.mySwiper2 figure img {
  width: 418px;
}

.mySwiper2 span {
  font-size: 23px;
  font-weight: 700;
  color: #fff;
  display: block;
  text-align: left;
  margin-bottom: 10px;
}

.mySwiper2 p {
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  color: #fff;
  opacity: 0.8;
}

.mySwiper2 .summary {
  top: 190px;
  padding: 40px;
}

.navi {
  position: absolute;
  right: 30px;
  bottom: 173px;
  color: #fff;
  font-size: 16px;
  z-index: 100;
  width: 56px;
  text-align: center;
  justify-content: space-between;
}

.navi span {
  cursor: pointer;
}

/* ----------------------sect4------------------------------ */

#sect4 {
  background-image: url(./images/section03.jpg);
  position: relative;
}
span.plus::after {
  content: "\e9c5";
  font-family: "xeicon" !important;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  /* 기존에 display 속성이 존재하므로
  display:none을 쓰지않는다. 대신에
  아래처럼 visibility을 사용해서 숨긴다. */
  visibility: hidden;  
}
/* on이 붙으면 보여야하기때문에 .on을붙여
visibility 속성을 바꿔준다. */
span.plus.on::after{
  visibility: visible; 
}

#sect4 h2 {
  display: block;
  font-size: 5.5rem;
  font-weight: 600;
  color: #fff;
  line-height: 7.7rem;
  font-family: "NotoSerif", Serif;
  word-break: keep-all;
}

#sect4 p {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  line-height: 3.8rem;
  font-family: "NotoSerif", Serif;
  word-break: keep-all;
  margin-top: 30px;
}

.sect4_text {
  text-align: center;
  position: absolute;
  top: 20%;
  transform: translateX(70%);
}

#sect4 ul {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  width: 1400px;
}
#sect4 ul li {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 0;
  width: 467px;
  color: #fff;
  text-align: center;
  transition: 0.3s;
  cursor: pointer;
  padding: 20px 0 20px 0;
}

#sect4 ul li h3 {
  font-size: 20px;
  font-weight: 600;
  line-height: 3;
}

#sect4 ul li:nth-child(2) {
  left: 33.333%;
}
#sect4 ul li:nth-child(3) {
  left: 66.6666%;
}
#sect4 ul li figure {
  display: none;
}
#sect4 ul li.on {
  background: rgba(25, 160, 181, 0.7);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  padding-bottom: 4.2rem;
  padding-top: 3.4rem;
}
#sect4 ul li.on figure {
  display: block;
}

/* ------------------sect5------------------------------- */

#sect5 {
  background-image: url(./images/section04.jpg);
}

#sect5 h2{
  display: block;
  font-size: 5.5rem;
  font-weight: 600;
  color: #fff;
  line-height: 7.7rem; 
  font-family: 'NotoSerif', Serif;
  word-break: keep-all;
  position: relative;
  top: 15%;
  transform: translateX(35%);
  
}

#sect5 ul.tab li {
  width: 320px;
  position: relative;
  margin-bottom: 2rem; 
}

#sect5 ul.tab{display: flex;
justify-content: space-between;
flex-wrap: wrap;
display: none;
}

#sect5 ul.tab.on{display: flex;}

#sect5 ul.video li {
  width: 447px;
}


#sect5 img {
  width: 100%;
  transition: 0.35s;
}
#sect5 .review figure {
  width: 100%;
  height: 206px;
  overflow: hidden;
}

#sect5 li:hover img {
  transform: scale(1.2);
}

.tabmenu {
  width: 1400px;
  margin: auto;
  position: relative;
  top: 230px;
  color: #fff;
  display: flex;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.tab.photo img{height: 220px;}

.tab.video img{height: 252px;
object-fit: none;
object-position: center;
}



.tabmenu li{
background: rgba(0, 0, 0, .5);
padding: 20px;
flex: 1;
cursor: pointer;
}

.tabmenu li.on{background: #c71c30;}

.review-summary{
  background: #fff;
  height: 146px;
  padding: 24px;  
}

.review-summary p{
  padding-top: 20px;
  font-size: 15px;
}

.sub-title span{
  font-size: 18px;
  padding-right: 10px;
  font-weight: bold;
}


.review li{
  border-radius: 20px 20px 0 0;
  overflow: hidden;
}

.tab li{
  overflow: hidden;
}

.tabBox {
  width: 1400px;
  margin: auto;
  position: relative;
  top: 336px;
  height: 530px;
}

#sect5 h3{
  position: absolute;
  color: #fff;
  left: 15px;
  bottom: 15px;
  font-size: 16px;
}

.tab p{
  display: -webkit-box;
  line-height: 1.5;
  max-height: calc(1.5 * 2);
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

#sect5 .tab.news figure{height: 320px;}