@import url(./reset.css);
@font-face {
  font-family: sans-serif;
  src: url(./font/SANSSERIFCOLLECTION.TTF);
}
.flex {
  display: flex;
}

body {
  font-family: sans-serif;
}

section {
  height: 100vh;
}

/*-----------------------------------------------------------------------*/
#sect1 .inner {
  height: 100%;
  justify-content: space-evenly;
  align-items: center;
}
#sect1 .inner figure {
  width: 450px;
}
#sect1 .inner figure img {
  width: 100%;
}
#sect1 .inner .text {
  width: 40%;
}
#sect1 .inner .text h1 {
  font-size: 2rem;
  letter-spacing: 10px;
  padding-bottom: 50px;
}
#sect1 .inner .text h1 img {
  width: 20px;
}
#sect1 .inner .text p {
  letter-spacing: 5px;
}

#sect2 {
  background: url(./img/sect2.jpg) no-repeat center/cover;
  position: relative;
}
#sect2 .inner {
  position: absolute;
  top: 15%;
  left: 10%;
}
#sect2 .inner h1 {
  font-size: 2.5rem;
  letter-spacing: 10px;
  padding-bottom: 100px;
}
#sect2 .inner h1 img {
  width: 20px;
}
#sect2 .inner p {
  letter-spacing: 6px;
  line-height: 50px;
  font-size: 1.4rem;
}

#sect3 {
  background: url(./img/sect3.jpg) no-repeat center/cover;
  position: relative;
}
#sect3 .inner {
  position: absolute;
  top: 15%;
  left: 7%;
}
#sect3 .inner h1 {
  font-size: 2.5rem;
  letter-spacing: 10px;
  padding-bottom: 100px;
}
#sect3 .inner h1 img {
  width: 20px;
}
#sect3 .inner .text ul {
  width: 700px;
}
#sect3 .inner .text h2 {
  text-align: center;
  color: #382cdb;
  font-weight: 600;
  font-size: 30px;
  letter-spacing: 10px;
  padding-bottom: 50px;
}
#sect3 .inner .text li {
  font-size: 20px;
  letter-spacing: 2px;
  line-height: 50px;
  padding-left: 30px;
}
#sect3 .inner .text .bad li {
  padding-left: 80px;
}

#sect4 {
  background: url(./img/sect4.jpg) no-repeat center/cover;
  position: relative;
}
#sect4 .inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1500px;
}
#sect4 .inner h1 {
  font-size: 2.5rem;
  letter-spacing: 10px;
  padding-bottom: 100px;
}
#sect4 .inner h1 img {
  width: 20px;
}
#sect4 .inner .top {
  margin-bottom: 10%;
}
#sect4 .inner .top ul {
  justify-content: center;
  display: flex;
  gap: 150px;
}
#sect4 .inner .top ul li .color {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}
#sect4 .inner .top ul li:nth-child(1) .color {
  background: 3fff;
  border: 1px solid #000;
  border-radius: 50%;
  width: 120px;
  height: 120px;
}
#sect4 .inner .top ul li:nth-child(2) .color {
  background: #0a173c;
}
#sect4 .inner .top ul li:nth-child(3) .color {
  background: #000;
}
#sect4 .inner .top ul li p {
  text-align: center;
  padding: 20px;
}
#sect4 .inner .btm .title {
  gap: 100px;
}
#sect4 .inner .btm .title p {
  font-size: 20px;
  letter-spacing: 4px;
  line-height: 50px;
}
#sect4 .inner .btm .font {
  letter-spacing: 4px;
  line-height: 50px;
  gap: 100px;
  padding-left: 11%;
  padding-top: 5%;
}
#sect4 .inner .btm .font h2 {
  font-size: 2rem;
}
#sect4 .inner .btm .font p {
  font-size: 1.5rem;
}

#sect5 .title h1 {
  font-size: 2.5rem;
  letter-spacing: 10px;
  padding-bottom: 100px;
  position: relative;
  margin-bottom: 7%;
  margin: 5vw;
}
#sect5 .title h1 img {
  width: 20px;
}
#sect5 .title figure {
  width: 150px;
  height: 150px;
  position: absolute;
  top: -1vw;
  left: 8vw;
}
#sect5 .title figure img {
  width: 100%;
}
#sect5 .desc {
  display: flex;
  justify-content: center;
  gap: 10%;
}
#sect5 .desc .left {
  width: 500px;
  height: 500px;
  background: url(./img/sect5_L.png) no-repeat center/contain;
}
#sect5 .desc .right {
  width: 500px;
  height: 500px;
  background: url(./img/sect5_R.png) no-repeat center/contain;
}
#sect5 .desc .wrap {
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
#sect5 .desc .wrap h2 {
  font-size: 2rem;
  font-weight: 600;
  color: #382cdb;
  padding-bottom: 50px;
  letter-spacing: 4px;
}
#sect5 .desc .wrap p {
  font-size: 1.4rem;
  letter-spacing: 3px;
  line-height: 40px;
}

#sect6 {
  background: url(./img/sect6.jpg) no-repeat center/cover;
}
#sect6 .inner {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}
#sect6 .inner h1 {
  font-size: 2.5rem;
  letter-spacing: 10px;
  padding-bottom: 100px;
  padding-left: 10%;
}
#sect6 .inner h1 img {
  width: 20px;
}
#sect6 .inner .top .title {
  gap: 10%;
}
#sect6 .inner .top .title p {
  font-size: 20px;
  letter-spacing: 4px;
  line-height: 50px;
}
#sect6 .inner .top figure {
  text-align: center;
  padding: 30px;
}
#sect6 .inner .btm .desc {
  display: flex;
  justify-content: center;
  gap: 10%;
}
#sect6 .inner .btm .desc .icon {
  width: 400px;
}
#sect6 .inner .btm .desc .icon img {
  width: 100%;
}
#sect6 .inner .btm .desc p {
  font-size: 20px;
  letter-spacing: 4px;
  line-height: 50px;
}

#sect7 {
  background: url(./img/mokup_bg2.jpg) no-repeat center;
  height: 150vh;
}/*# sourceMappingURL=index.css.map */